{% extends "base.html" %}
{% block title %}
Creating course
{% endblock %}
{% block style %}
    {% include "style.html" %}
{% endblock %}
<div id="main">
    {% block menu %}
        {% include "menu.html" %}
    {% endblock %}
    {% block body %}
    <div id="content_header"></div>
    <div id="site_content">
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock %}
        <div id="content">
            <div>
                <a href="category">Back</a>
            </div>
            <h1>Creating course for category "{{name}}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Name">
            <button type="submit">Save and return to courses list</button>
        </form>
        </div>
    </div>
    {% endblock %}
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
</div>