{% extends "base.html" %}
{% block title %}
	colour_green
{% endblock %}
{% block style %}
	{% include "style.html" %}
{% endblock %}
<div id="main">
    {% block menu %}
	    {% include "menu.html" %}
    {% endblock %}
    {% block body %}
    <div id="site_content">
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock %}
        <div id="content">
            <!-- insert the page content here -->
            <h1>Welcome to lessen course</h1>
        </div>
    </div>
    <div id="content_footer"></div>
        {% endblock %}
        {% block footer %}
	        {% include "footer.html" %}
        {% endblock %}
  </div>